---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import '../../styles/global.css'

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const { title, description, hasCode, image = '/placeholder-social.jpg' } = Astro.props
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<title>{title}</title>

<!-- Preload Fonts -->
<link rel="preload" href="/fonts/LINE_Seed_regular.woff2" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="/fonts/LINE_Seed_extrabold.woff2" as="font" type="font/woff2" crossorigin />
{hasCode && <link rel="preload" href="/fonts/Consolas.woff2" as="font" type="font/woff2" crossorigin />}

<!-- Favicon -->
<!-- https://favicon.io/favicon-generator/ -->
<link rel="icon" href="/favicons/favicon-light.png" media="(prefers-color-scheme: light)" />
<link rel="icon" href="/favicons/favicon-dark.png" media="(prefers-color-scheme: dark)" />
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-light.png" media="(prefers-color-scheme: light)" />
<link rel="apple-touch-icon" href="/favicons/apple-touch-icon-dark.png" media="(prefers-color-scheme: dark)" />

<!-- Theme -->
<meta name="color-scheme" content="light dark" />
<meta name="msapplication-TileColor" content="#fff" />
<meta name="theme-color" content="#fff" />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Webmention.io -->
<link rel="webmention" href="https://webmention.io/christophervoigt.dev/webmention" />

<!-- Primary Meta Tags -->
<meta name="generator" content={Astro.generator} />
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<!-- Mastodon -->
<meta property="fediverse:creator" content="@christophervoigt@indieweb.social" />
